carousel-card{
    scroll-snap-align: start;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 18rem;
    background-color: white;
    box-sizing: border-box;
    @include box-shadow($sm-shadow);
    margin: 1rem;
    
    .card-header{
        display: flex;
        flex-direction: column;
    }

    .card-header-info{
        display: flex;
        justify-content: space-between
    }

    .card-image{

        max-width: 100%;
        
    }
    
    .card-content{
        padding: 1em;
    }
    
    .card-title{
        font-family: $font-roboto;
        font-size: 1.25rem;
        color: $link-color;
        text-transform: capitalize;
    }

    .card-subtitle{
        font-family: $font-roboto;
        font-size: 1rem;
        color: $hidden-gray;
        margin-top: 0.5rem;
        text-transform: capitalize;
    }

    .card-type{
        max-width: 50%;
        height: 1.5em;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: -1.5em;
        padding: 0.25em;
        box-sizing: border-box;
        color: white;
        font-family: $font-roboto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 4px 0 0;
        text-transform: capitalize;
    }
    .card-duration{
        max-width: 40%;
        height: 1.5em;
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: -1.5em;
        padding: 0.25em;
        box-sizing: border-box;
        color: white;
        font-family: $font-roboto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px 0 0 0;
    }
    

    .blank-card-header{
        height: 40%;
    }

    .blank-image{
        height: 100%;
        background-color: $hidden-gray;
        animation: $animation-pulse;
    }

    .blank-title{
        width: 90%;
        height: 1.25em;
        background-color: $hidden-gray;
        animation: $animation-pulse;
    }

    .blank-subtitle{
        width: 50%;
        height: 1em;
        background-color: $hidden-gray;
        animation: $animation-pulse;
    }
}
