.carousel-container{
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: $font-roboto;

    .carousel-header{
        display: flex;
        align-items: center;
    }

    .carousel-header-text{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        
    }

    .carousel-icon{
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $link-color;
        border-radius: 4px;
        color: white;
    }

    .carousel-title{
        font-size: 1.4em;
        margin: 0;
        color: $link-color;
    }

    .carousel-subtitle{
        color: $hidden-gray;
        margin: 0;
    }

    .carousel-cards-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: hidden;

        .arrow-control{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5em;
            height: 25%;
            font-size: 3em;
            color: white;
            position: absolute;
            opacity: 0;
            background-color: gray;
            transition: 0.3s all ease-in-out;
            cursor: pointer;
        }

        .right{
            right: 0;
        }
        .left{
            left: 0;
        }
    }

    .draggable{
        cursor: pointer;
    }

    .active{
        cursor: grabbing;
    }

    .snappable{
        scroll-snap-type: x mandatory;
    }

    .carousel-cards-container:hover .arrow-control{
        opacity: 0.5;
    }
}




