@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}

.carousel-container {
  width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
.carousel-container .carousel-header {
  display: flex;
  align-items: center;
}
.carousel-container .carousel-header-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.carousel-container .carousel-icon {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c72ac;
  border-radius: 4px;
  color: white;
}
.carousel-container .carousel-title {
  font-size: 1.4em;
  margin: 0;
  color: #2c72ac;
}
.carousel-container .carousel-subtitle {
  color: #b4b3b3;
  margin: 0;
}
.carousel-container .carousel-cards-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden;
}
.carousel-container .carousel-cards-container .arrow-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 25%;
  font-size: 3em;
  color: white;
  position: absolute;
  opacity: 0;
  background-color: gray;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.carousel-container .carousel-cards-container .right {
  right: 0;
}
.carousel-container .carousel-cards-container .left {
  left: 0;
}
.carousel-container .draggable {
  cursor: pointer;
}
.carousel-container .active {
  cursor: grabbing;
}
.carousel-container .snappable {
  scroll-snap-type: x mandatory;
}
.carousel-container .carousel-cards-container:hover .arrow-control {
  opacity: 0.5;
}

carousel-card {
  scroll-snap-align: start;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 18rem;
  background-color: white;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1rem;
}
.card-wrapper .card-header {
  display: flex;
  flex-direction: column;
}
.card-wrapper .card-header-info {
  display: flex;
  justify-content: space-between;
}
.card-wrapper .card-image {
  max-width: 100%;
}
.card-wrapper .card-content {
  padding: 1em;
}
.card-wrapper .card-title {
  font-family: "Roboto";
  font-size: 1.25rem;
  color: #2c72ac;
  text-transform: capitalize;
}
.card-wrapper .card-subtitle {
  font-family: "Roboto";
  font-size: 1rem;
  color: #b4b3b3;
  margin-top: 0.5rem;
  text-transform: capitalize;
}
.card-wrapper .card-type {
  max-width: 50%;
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: -1.5em;
  padding: 0.25em;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 0 0;
  text-transform: capitalize;
}
.card-wrapper .card-duration {
  max-width: 40%;
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: -1.5em;
  padding: 0.25em;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 0;
}
.card-wrapper .blank-card-header {
  height: 40%;
}
.card-wrapper .blank-image {
  height: 100%;
  background-color: #b4b3b3;
  animation: pulse 1s infinite;
}
.card-wrapper .blank-title {
  width: 90%;
  height: 1.25em;
  background-color: #b4b3b3;
  animation: pulse 1s infinite;
}
.card-wrapper .blank-subtitle {
  width: 50%;
  height: 1em;
  background-color: #b4b3b3;
  animation: pulse 1s infinite;
}

/*# sourceMappingURL=styles.css.map */
